* {
  font-family: 'Be Vietnam Pro', sans-serif;
  --dark: black;
  --medium: #E1E1E1;
  --light: white;
  --bright: #ED1C24;
  --accent: #960e14e6;
  --radius: 50px;
}

h1 {
  letter-spacing: -4px;
  font-weight: 700;
  font-size: 72px;
}

h2 {
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 36px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

h4 {
  letter-spacing: -2px;
  font-weight: 700;
  font-size: 52px;
}

/* Nav bar */
.navbar {
  background-color: var(--bright);
  font-weight: 700;
  font-size: 19px;
  letter-spacing: -0.5px;
}

#nav-icon {
  height: 40px;
  display: inline;
}

.navbar-toggler:focus{
  outline: none;
}

.navbar-toggler-icon{
  color: var(--light);
}

/* Hero image */
.hero-image {
  background-image:  linear-gradient(0deg, rgba(150, 14, 20, 34), rgba(237, 28, 36, 34));
  height: 500px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  font-size: 18px;
  font-weight: 500;
}

/* Search bar */
#search-bar {
  border-radius: 30px 0px 0px 30px;
  border: solid 3px white;
  padding: 3px;
  width: 200px;
}

#search-button {
  border-radius: 0px 30px 30px 0px;
  background-color: var(--medium);
  border: solid 3px var(--medium);
  margin-left: -5px;
  padding: 3px;
  width: 40px;
}

#location-search {
  margin:auto;
  max-width:300px;
}

  /* Saved searches section */
  .saved-search{
    border-radius: 30px;
    border: solid 1px var(--medium);
    padding: 3px;
    width: 80px;
  }

  .saved-search:hover,
  .saved-search:active{
    border: solid 1px var(--dark);
    background-color: var(--dark);
    color: var(--light);
  }
  
/* Locations section */
.card {
  border: none;
  padding: 0px 30px;
  display: block;
  margin: 30px 10px 0px 0px;
  position: relative;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  display: inline;
}

#map {
  max-width: 100%;
  height: 600px;
  width: 600px;
}

.search-icon{
  display: inline;
  height: 30px;
}

.search-result{
  margin-left: 35px;
}

/* About section */
#about {
  background-image: linear-gradient(0deg, rgba(150, 14, 20, 34), rgba(237, 28, 36, 34));
  height: 500px;
  width: 100%;
  color: var(--light);
  text-align: center;
  padding: 50px 40px;
}

/* Footer */
footer {
  background-color: rgba(150, 14, 20, 34);
  color: var(--light);
  height: 100px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  align-content: center;
  padding: 0px 50px 40px 40px;
  font-size: 15px;
}